/*
Themes should try to follow the following color scheme:

The primary color is the background color, 
the secondary color is the text color, 
the tertiary color is the accent color, 
and the quaternary color is a secondary accent color. 

The primary and secondary colors should have good contrast, 
and the tertiary and quaternary colors should be used 
sparingly for emphasis.

Of course, this is just my advice...go nuts. :D

- Mickey
*/

/*
You can import fonts from Google Fonts here.
https://fonts.google.com/
*/
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

/*
Global styles for the overlay
*/
:root {
  --color-primary: #131313;
  --color-secondary: #edf2f4;
  --color-tertiary: #f3c623;
  --color-quaternary: #c4c4c4;
  --color-quinary: #ff4800;

  --font-primary: 'Afacad Flux', sans-serif;
}

/*
This will set the scrollbar color of all scrollable elements
*/
* {
  scrollbar-color: var(--color-tertiary) var(--color-primary);
  box-sizing: border-box;
}

/*
The "app" is the entire overlay, and should be 
styled to fit the screen, and apply any global styles.
*/
#app {
  font-family: var(--font-primary);
  font-size: 14px;
  position: relative;
  padding: 10px;
  width: 100%;
  height: 100%;
}

/*
A "panel" is a container element.
*/
.panel {
  font-family: var(--font-primary);
  background: var(--color-primary);
  color: var(--color-secondary);
  padding: 5px;
  font-size: 18px;
}

/*
A guest's username.
*/
.guest {
  color: var(--color-tertiary);
  font-weight: bold;
}

/*
Small text.
*/
.small {
  font-size: 0.8em;
}

/*
Disabled text or secondary information.
*/
.muted {
  color: var(--color-quaternary);
}

/*
Spacing for rows and columns.
*/
.row, .col {
  gap: 10px;
}

/*
The text chat input.
*/
.chat-input {
  font-family: var(--font-primary);
  font-size: 18px;
  background: var(--color-primary);
  color: var(--color-secondary);
  border: 1px solid transparent;
  padding: 5px;
  transition: all 0.3s ease-in-out;
}

.chat-input:focus {
  border: 1px solid var(--color-tertiary);
}

/*
The chat overlay widget.
*/
#widget-chat {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*
The scrollable chat history panel.
*/
.message-history {
  overflow-y: auto;
  flex: 1;
}

/*
A chat message.
*/
.message {
  padding: 2px 5px;
}

/*
A guest's name in a chat message.
*/
.message-guest {
  font-weight: bold;
  color: var(--color-tertiary);
  margin-right: 5px;
}

.message-time {
  font-size: 0.8em;
  color: var(--color-quaternary);
  margin-right: 10px;
}

/*
A chat message's body text.
*/
.message-body {
}

/*
The chat bubbles that appear when a message is
sent or received (when the overlay is not focused).
*/
.message-bubble {
  font-size: 16px;
}

/*
Here you can customize the animation for when bubbles
enter and leave the screen.
*/
.message-bubble.enter {
  animation: bubble-enter 0.5s forwards;
}

.message-bubble.leave {
  animation: bubble-leave 0.5s forwards;
}

@keyframes bubble-enter {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes bubble-leave {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

/*
The gamepad overlay widget.
*/
#widget-pads {
  padding: 12px 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}

/*
Gamepad icon and owner container.
*/
.pad-container {
  text-align: center;
}

/*
Gamepad icons.  
*/
.gamepad {
  fill: var(--color-quaternary);
}

.gamepad-btn-pressed {
  fill: var(--color-quinary);
}

/*
The guest list overlay widget.
*/
#widget-guests {
  padding: 5px 10px;
}

.widget.hidden {
  display: none !important;
}